@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root
{
    --clr-dark: #001a28;
    --clr-light: #f1f5f9;
}

::-webkit-scrollbar
{
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    background:  #013c5e;
    border-radius: 50px;
    border: 2px solid black;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.icons {
    position: absolute;
    left: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}
#check
{
    display: none !important;
}
/*Iphone*/
@media screen and (max-height: 650px)
{

}
@media screen and (max-width: 992px)
{
    .image-parcour
    {
        display: none !important;
    }
    .header img
    {
        display: none;
    }
    .boite
    {
        flex-direction: column;
    }
}
@media screen and (min-width: 950px)
{
    .minibox h2
    {
        font-size: 15px;
    }
    .active
    {
        padding-left: 0;
    }
    .header img
    {
        display: block;
    }
    .header a
    {
        margin-left: -3%;
        width: auto;
    }
}
#ok
{
    display: flex;
}
@media screen and (max-width: 1550px)
{

}
/*Android*/
@media screen and (max-width: 768px)
{
    #ok
    {
        display: block;
        margin: 0 auto;
        justify-content: center;
        width: fit-content;
        text-align: center;
    }
    .icons {
        display: inline-flex;
    }
    #check:checked~.icons .bx-menu {
        display: none;
    }

    .icons .bx-x {
        display: none;
    }

    #check:checked~.icons .bx-x {
        display: block;
    }

    #check:checked~.navbar {
        height: auto;
    }
    .title
    {
        padding: 10% 10% 0 10%;
    }
    .title h1
    {
        color: white;
        padding-top: 20% !important;
        text-align: center;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(50px);
                backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.menu {
        height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        opacity: 0;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    .dropdown
    {
        margin: -25px 0 -25px 0 !important;
    }
    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
    }
    .image-parcour
    {
        display: none !important;
    }
    .button-up
    {
        position: fixed;
        background-color: #292929;
        text-align: center;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .button-up i
    {
        color: #00abf0;
    }
    .header img
    {
        display: none;
    }

    .navbar a::before{
        display: none;
    }
    .header
    {
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        
    }
    .dropdown ul {display: none;}
    a.icons {
      float: right;
      display: block;
      padding-left: 5px;
    }
    .icons {
        position: absolute;
        align-items: center;
        display: block !important;
        font-size: 200%;
        left: 0;
        color: white;
      }
      .boite
      {
        flex-direction: column;
      }
      .box
      {
        width: fit-content !important;
      }
}
.dark-mode
{
    --clr-light: #001a28;
    --clr-dark: #f1f5f9;
}
body
{
    background: var(--clr-dark);
    overflow: auto;
}
.header
{
    background-color: #031649;
    position: fixed;
    top: 0;
    padding: 20px 2%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    z-index: 2;
}
.header .logo img
{
    height: 100px;
    align-items: center;
    margin-top: 10px;
}
.navbar
{
    display: flex;
}
a.icon
{
    display: none;
}
.navbar a
{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-left: 25px;
    list-style: none;
}
.navbar a:hover
{
    color: rgb(234, 164, 0);
    transition: 0.5s;
    
}
.navbar a::before
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    transition: 0.5s;
    transform: scaleX(0);
    border-radius: 25px;
    background: #4070f4;
}
.navbar a:hover::before
{
    transform: scaleX(1);
}
nav .active
{
    color: #00abf0 !important;
}
.dropdown, .dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.dropdown {
    text-align: center;
}
.dropdown li {
    display: inline-block;
    
}
.dropdown ul li {
    display: inherit;
    padding-top: 10px;
}
.dropdown a {
    text-decoration: none;
    display: block;
    
}
.dropdown ul {
    position: absolute;
    padding: 25px 20px 15px 0;
    left: -999em;
    text-align: left;
    z-index: 1;
    background: rgb(3, 22, 75);
    border-radius: 10px;
    
}
.dropdown li:hover ul
{
    left: auto;
    @media screen and (max-width: 768px)
    {
        display: none;
    }
}


.boite
{
    animation: TransitionIn2 1.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    padding: 0 10% 0 10%;
}

@keyframes TransitionIn2
{
    from {
        padding-left: 1500px;
    }
    to {
        
        padding-left: 10%;
    }
}
.button-up
{
    position:fixed;
    background-color: #29274C;
    text-align: center;
    bottom: 15px;
    right: 10px;
    border: none;
    border-radius: 9%;
}
.button-up i
{
    font-size: 400%;
    color: #00abf0;
}
.boite a
{
    text-decoration: none;
    color: black !important;
}
.boite h1
{
    font-size: 35px;
}
.box
{
    margin-top: 120px;
    position: relative;
    height: auto;
    width: 600px;
    flex-direction: row;
    border-radius: 10px;
    text-align:center;
    overflow: hidden;
    
}
.afficher img
{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.afficher-android img
{
    position: relative;
    width: 50%;
    overflow: hidden;
}

.box .afficher
{
    overflow: hidden;
}

.box .afficher::before
{
    content: '';
    background: rgba(0, 0 , 0, 0.5);
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    z-index: 1;
}
.box .afficher-android::before
{
    content: '';
    background: rgba(0, 0 , 0, 0.5);
    position: absolute;
    opacity: 0;
    height: 50%;
    width: 50%;
    transition: 0.5s;
    z-index: 1;
}
.box:hover .afficher-android::before
{
    opacity: 100%;

}
.box .afficher-android img
{
    width: 50%;
    transition: 0.5s;

}
.box:hover .afficher-android img
{
    filter: blur(5px);
}
.box:hover .afficher-android::before
{
    opacity: 100%;
    
}
.box .afficher img
{
    width: 100%;
    transition: 0.5s;
    
}
.box:hover .afficher img
{
    filter: blur(5px);
}
.box .minibox
{
    position: absolute;
    top: 0;
    opacity: 0;
    bottom: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    color: white;
    z-index: 0;
}
.box .minibox h1{
    display: flex;
    text-align: center;
}
.box:hover .minibox
{
    z-index: 1;
    opacity: 100%;
    top: 50%;
}
.title h1
{
    color: white;
    margin-top: 10%;
    text-align: center;
}
.accueil-download
{
    color: white;
    padding: 10%;
    font-size: x-large;
    padding-bottom: 50px;
}
.accueil-download h1
{
    font-size: x-large;
    font-weight: 700;
    line-height: 5;
}
.accueil-download a
{
    padding-left: 20px;
    text-decoration: none;
    color: white;
}
.accueil-download a:hover
{
    text-decoration: underline;
}