@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root
{
    --clr-dark: #001a28;
    --clr-light: #f1f5f9;
}

::-webkit-scrollbar
{
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    background:  #013c5e;
    border-radius: 50px;
    border: 2px solid black;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.icons {
    position: absolute;
    left: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}
#check
{
    display: none !important;
}
/*Iphone*/
@media screen and (max-height: 650px)
{

}
@media screen and (max-width: 992px)
{
    .image-parcour
    {
        display: none !important;
    }
    .accueil2
    {
        margin-top: 20%;
        text-align: center;
    }
    .accueil3
    {
        margin-top: 20%;
        text-align: center;
    }
    .branches h1
    {
        font-size: 46px;
    }
    .header img
    {
        display: none;
    }
}
@media screen and (min-width: 950px)
{
    .active
    {
        padding-left: 0;
    }
    .header img
    {
        display: block;
    }
    .header a
    {
        margin-left: -3%;
        width: auto;
    }
}
#ok
{
    display: flex;
}
/*Android*/
@media screen and (max-width: 768px)
{
    #ok
    {
        display: block;
        margin: 0 auto;
        justify-content: center;
        width: fit-content;
        text-align: center;
    }
    .icons {
        display: inline-flex;
    }
    #check:checked~.icons .bx-menu {
        display: none;
    }

    .icons .bx-x {
        display: none;
    }

    #check:checked~.icons .bx-x {
        display: block;
    }

    #check:checked~.navbar {
        height: auto;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(50px);
                backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.menu {
        height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        opacity: 0;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    .dropdown
    {
        margin: -25px 0 -25px 0 !important;
    }
    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
    }
    .image-parcour
    {
        display: none !important;
    }
    .accueil
    {
        justify-content: center !important;
    }
    .button-up
    {
        position: fixed;
        background-color: #292929;
        width: 12% !important;
        text-align: center;
        right: 0;
        bottom: 0;
        font-size: 200%;
    }
    .button-up i
    {
        color: #00abf0;
    }
    .accueil-contact
    {
        position: relative !important;
        margin-top: 50px;
        bottom: 0 !important;
    }
    .accueil2
    {
        margin-top: 40%;
        text-align: center;
        justify-content: center !important;
    }
    .accueil2 .btn-box
    {
        justify-content: center;
    }
    .accueil3
    {
        margin-top: 40%;
        text-align: center;
    }
    .header img
    {
        display: none;
    }

    .navbar a::before{
        display: none;
    }
    .header
    {
        height: fit-content;
        justify-content: space-between;
        align-items: center;

    }
    .groupe-boite
    {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin-top: 5%;
    }
    .boite
    {
        padding-top: 30px;
    }
    .branches
    {
        padding-top: 50px !important;
    }
    .dropdown ul {display: none;}
    a.icons {
      float: right;
      display: block;
      padding-left: 5px;
    }
    .icons {
        position: absolute;
        align-items: center;
        display: block !important;
        font-size: 200%;
        left: 0;
        color: white;
      }
    .afficher img
    {
        height: auto !important;
    }
    .box:hover .minibox
    {
        bottom: 35% !important;
    }
}
.dark-mode
{
    --clr-light: #001a28;
    --clr-dark: #f1f5f9;
}
body
{
    background: var(--clr-dark);
    overflow: auto;
}
.header
{
    background-color: rgb(3, 22, 73);
    position: fixed;
    padding: 20px 2%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    z-index: 2;
}
.header .logo img
{
    height: 100px;
    align-items: center;
    margin-top: 10px;
}
.navbar
{
    display: flex;
}
a.icon
{
    display: none;
}
.navbar a
{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-left: 25px;
    list-style: none;
}
.navbar a:hover
{
    color: rgb(234, 164, 0);
    transition: 0.5s;

}
.navbar a::before
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    transition: 0.5s;
    transform: scaleX(0);
    border-radius: 25px;
    background: #4070f4;
}
.navbar a:hover::before
{
    transform: scaleX(1);
}
nav .active
{
    color: #00abf0 !important;
}

.dropdown, .dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;

}
.dropdown {
    text-align: center;
}
.dropdown li {
    display: inline-block;
}
.dropdown ul li {
    display: inherit;
}
.dropdown a {
    text-decoration: none;
    display: block;
}
.dropdown ul {
    position: absolute;
    padding: 25px 20px 15px 0;
    left: -999em;
    text-align: left;
    z-index: 1;
    background: rgb(3, 22, 75);
    border-radius: 10px;
}
.dropdown li:hover ul {
    left: auto;
}
.boite
{
    animation: TransitionIn2 1.2s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10%;
}

@keyframes TransitionIn2
{
    from {
        padding-left: 1500px;
    }
    to {

        padding-left: 10%;
    }
}
.boite a
{
    text-decoration: none;
    color: black !important;
}
.boite h1
{
    font-size: 35px;
}
.box
{
    margin-top: 120px;
    position: relative;
    height: auto;
    width: 600px;
    flex-direction: row;
    border-radius: 10px;
    text-align:center;
    overflow: hidden;

}
.afficher img
{
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.box .afficher
{
    overflow: hidden;
}

.box .afficher::before
{
    content: '';
    background: rgba(0, 0 , 0, 0.5);
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    z-index: 1;
}
.box:hover .afficher::before
{
    opacity: 100%;

}
.box .afficher img
{
    width: 100%;
    transition: 0.5s;

}
.box:hover .afficher img
{
    filter: blur(5px);
}
.box .minibox
{
    position: absolute;
    opacity: 0;
    bottom: 500px;
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    transition: 0.5s;
    color: white;

}
.box:hover .minibox
{
    opacity: 100%;
    bottom: 40%;
}