@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root
{
    --clr-dark: #001a28;
    --clr-light: #f1f5f9;
}

::-webkit-scrollbar
{
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    background:  #013c5e;
    border-radius: 50px;
    border: 2px solid black;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/*Iphone*/
@media screen and (max-height: 650px)
{

}
@media screen and (min-height: 768px)
{
    .image-parcour
    {
        display: none !important;
    }
    .accueil2
    {
        margin-top: 20%;
        text-align: center;
    }
    .accueil3
    {
        margin-top: 20%;
        text-align: center;
    }
    .branches h1
    {
        font-size: 46px;
    }
}
/*Android*/
@media screen and (max-width: 480px) and (orientation: portrait)
{
    .image-parcour
    {
        display: none !important;
    }
    .accueil2
    {
        margin-top: 40%;
        text-align: center;
        justify-content: center !important;
    }
    .accueil-content .btn-box
    {
        display: flex;
        width:auto !important;
        
    }
    .accueil2 .btn-box
    {
        justify-content: center !important;
    }
    .accueil3
    {
        margin-top: 40%;
        text-align: center;
    }
    .header img
    {
        display: none;
    }
    .navbar
    {
        background-color: rgb(3, 22, 73);
       justify-content: space-around;
       padding-left: 15px;
       display: none;
    }
    .navbar a::before{
        display: none;
    }
    .header
    {
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        
    }
    .groupe-boite
    {  
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin-top: 5%;
    }
    .boite
    {
        padding-top: 30px;
    }
    .branches
    {
        padding-top: 50px !important;
    }
    .button-up
    {
        
    }
    .navbar a 
    {
        font-size: 17px;
        
    }
    #myNavbar {
        display: none;
    }
    .dropdown ul {display: none;}
    .dropdown li 
    {
        float: left;
    }
    a.icon {
      float: left;
      display: block;
      padding-left: 5px;
    }
    .icon {
        position: absolute;
        align-items: center;
        font-size: 200%;
        left: 0;
        color: white;
      }
    
}
.dark-mode
{
    --clr-light: #001a28;
    --clr-dark: #f1f5f9;
}
body
{
    background: var(--clr-dark);
    overflow: overlay;
}
.header
{
    background-color: rgb(3, 22, 73);
    position: fixed;
    padding: 20px 2%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    z-index: 2;
}
.header .logo img
{
    height: 100px;
    align-items: center;
    margin-top: 10px;
}
.icon {
    display: none;
}

.navbar
{
    display: flex;
    
}
.navbar a
{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-left: 25px;
    list-style: none;
}
.navbar a:hover
{
    color: rgb(234, 164, 0);
    transition: 0.5s;
    
}
.navbar a::before
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    transition: 0.5s;
    transform: scaleX(0);
    border-radius: 25px;
    background: #4070f4;
}
.navbar a:hover::before
{
    transform: scaleX(1);
}
nav .active
{
    color: #00abf0 !important;
}
.dropdown, .dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.dropdown {
    text-align: center;
}
.dropdown li {
    display: inline-block;
}
.dropdown ul li {
    display: inherit;
}
.dropdown a {
    text-decoration: none;
    display: block;
}
.dropdown ul {
    position: absolute;
    padding: 25px 20px 15px 0px;
    left: -999em;
    text-align: left;
    z-index: 1;
    background: rgb(3, 22, 75);
    border-radius: 10px;
}
.dropdown li:hover ul {
    left: auto;
}
.button-up
{
    position:fixed;
    background-color: #29274C;
    text-align: center;
    font-size: 200%;
    width: 3%;
    bottom: 0;
    right: 0;
}
.accueil
{
    display: flex;
    align-items: center;
    padding: 0 10%;
    height: 100vh;
    color: white;
    /*background: url('../images/perso.jpg') no-repeat;*/
    background: transparent;
    background-size: cover;
    background-position: center;
}
.accueil-content
{
    max-width: 640px;
}
.accueil-content h1
{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.accueil-content h3
{
    font-size: 32px;
    font-weight: 700;
    color: #0379bd;
}
.accueil-content p
{
    font-size: 16px;
    margin: 20px 0 40px;
}
.accueil-content .btn-box
{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}
.btn-box a
{
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #001a28;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
.btn-box a:hover
{
    color: #00abf0;
}
.btn-box a:nth-child(2)
{
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover
{
    color: #001a28;
}
.btn-box a:nth-child(2)::before
{
    background: #00abf0;
}
.btn-box a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #001a28;
    z-index: -1;
    transition: 0.5s;
}
.btn-box a:hover::before
{
    height: 100%;
}
.accueil2
{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10%;
    padding-top: 3%;
    height: 110vh;
    color: white;
    background: transparent;
    background-size: cover;
    background-position: center;
}
.accueil-contact
{
    position: absolute;
    bottom: 40px;
    width: 170px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.accueil-contact a
{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #00abf0;
    border-radius: 50% 0 50% 0;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 2;
    overflow: hidden;
    transition: 0.25s;
}
.accueil-contact a:hover
{
    color: #001a28;
}
.accueil-contact a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
    background: #00abf0;
}
.accueil-contact a:hover::before
{
    width: 100%;
}
.tout:nth-child(odd)
{
    background: rgb(2, 74, 116)
}
.accueil-presentation
{
    max-width: 640px;
}
.accueil-presentation h1
{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.accueil-presentation h3
{
    font-size: 32px;
    font-weight: 700;
    color: #0379bd;
}
.accueil-presentation p
{
    font-size: 16px;
    margin: 20px 0 40px;
}
.accueil-presentation .btn-box
{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.image-parcour
{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5% 30% 0 0;
}
.accueil3
{
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    padding-top: 5%;
    height: 110vh;
    color: white;
    background: transparent;
    background-size: cover;
    background-position: center;
}
.titre h1
{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.titre2
{
    padding-top: 5%;
    font-size: 32px;
    font-weight: 700;
    color: #0379bd;
}
.titre2-para
{
    font-size: 16px;
    margin: 20px 0 40px;
}
.branches
{
    padding-top: 100px;
    font-size: 32px;
    font-weight: 700;
    color: #0379bd;
    text-align: center;
}
.groupe-boite
{   
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 5%;
}
.boite
{
    max-width: 560px;
    padding-left: 20px;
}
.boite-titre
{
    font-size: 29px;
    border-radius: 15px;
    padding: 10px;
    background-color: black;
    text-align: center;
}
.boite-titre h3
{
    font-size: 20px;
}
.boite-para
{
    font-size: 15px;
    line-height: 2;
    padding-top: 5%;
    padding-bottom: 60px;
    text-align: center;
}

