@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root
{
    --clr-dark: #001a28;
    --clr-light: #f1f5f9;
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;

    /* Fonts */

    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;

    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;

    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}

::-webkit-scrollbar
{
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    background:  #013c5e;
    border-radius: 50px;
    border: 2px solid black;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.icons {
    position: absolute;
    left: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}
#check
{
    display: none !important;
}
/*Iphone*/
@media screen and (max-height: 650px)
{

}
@media screen and (max-width: 992px)
{
    .image-parcour
    {
        display: none !important;
    }
    .accueil2
    {
        margin-top: 20%;
        text-align: center;
    }
    .accueil3
    {
        margin-top: 20%;
        text-align: center;
    }
    .branches h1
    {
        font-size: 46px;
    }
    .header img
    {
        display: none;
    }
}
@media screen and (min-width: 950px)
{
    .active
    {
        padding-left: 0;
    }
    .header img
    {
        display: block;
    }
    .header a
    {
        margin-left: -3%;
        width: auto;
    }
}
#ok
{
    display: flex;
}
/*Android*/
@media screen and (max-width: 768px)
{
    #ok
    {
        display: block;
        margin: 0 auto;
        justify-content: center;
        width: fit-content;
        text-align: center;
    }
    .icons {
        display: inline-flex;
    }
    #check:checked~.icons .bx-menu {
        display: none;
    }

    .icons .bx-x {
        display: none;
    }

    #check:checked~.icons .bx-x {
        display: block;
    }

    #check:checked~.navbar {
        height: auto;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(50px);
                backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.menu {
        height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        opacity: 0;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    .dropdown
    {
        margin: -25px 0 -25px 0 !important;
    }
    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
    }
    .image-parcour
    {
        display: none !important;
    }
    .accueil
    {
        justify-content: center !important;
    }
    .button-up
    {
        position: fixed;
        background-color: #292929;
        text-align: center;
        right: 0;
        bottom: 0;

    }
    .button-up i
    {
        color: #00abf0;
    }
    .accueil-contact
    {
        position: relative !important;
        margin-top: 50px;
        bottom: 0 !important;
        
    }
    .accueil2
    {
        margin-top: 40%;
        text-align: center;
        justify-content: center !important;
    }
    .accueil2 .btn-box
    {
        justify-content: center;
    }
    .accueil3
    {
        margin-top: 40%;
        text-align: center;
    }
    .header img
    {
        display: none;
    }

    .navbar a::before{
        display: none;
    }
    .header
    {
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        
    }
    .groupe-boite
    {  
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin-top: 5%;
    }
    .boite
    {
        padding-top: 30px;
        padding-left: 0 !important;
    }
    .branches
    {
        padding-top: 50px !important;
    }
    .dropdown ul {display: none;}
    a.icons {
      float: right;
      display: block;
      padding-left: 5px;
    }
    .icons {
        position: absolute;
        align-items: center;
        display: block !important;
        font-size: 200%;
        left: 0;
        color: white;
      }
    .accueil-content
    {
        padding-top: 10% !important;
    }
    .accueil-centre
    {
        padding-top: 15%;
    }
}
.dark-mode
{
    --clr-light: #001a28;
    --clr-dark: #f1f5f9;
}
body
{
    background: var(--clr-dark);
    overflow: auto;
}
.header
{
    background-color: rgb(3, 22, 73);
    top: 0;
    position: fixed;
    padding: 20px 2%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    z-index: 2;
}
.header .logo img
{
    height: 100px;
    align-items: center;
    margin-top: 10px;
}
.navbar
{
    display: flex;
}
a.icon
{
    display: none;
}
.navbar a
{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-left: 25px;
    list-style: none;
}
.navbar a:hover
{
    color: rgb(234, 164, 0);
    transition: 0.5s;
    
}
.navbar a::before
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    transition: 0.5s;
    transform: scaleX(0);
    border-radius: 25px;
    background: #4070f4;
}
.navbar a:hover::before
{
    transform: scaleX(1);
}
nav .active
{
    color: #00abf0 !important;
}

.dropdown, .dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.dropdown {
    text-align: center;
}
.dropdown li {
    display: inline-block;
}
.dropdown ul li {
    display: inherit;
}
.dropdown a {
    text-decoration: none;
    display: block;
}
.dropdown ul {
    position: absolute;
    padding: 25px 20px 15px 0;
    left: -999em;
    text-align: left;
    display: grid;
    gap: 10px;
    z-index: 1;
    background: rgb(3, 22, 75);
    border-radius: 10px;
}
.dropdown li:hover ul {
    left: auto;
}
.accueil
{
    padding: 10% 10%;
    width: auto;
    display: grid;
    height: 100vh;
    justify-content: center;
    color: white;
    background: transparent;
    background-size: cover;
    background-position: center;
}
.accueil-content
{
    max-width: 1100px;
    padding-top: 5%;
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
}
.accueil-content h1
{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}
.button-up
{
    position:fixed;
    background-color: #29274C;
    text-align: center;
    bottom: 15px;
    right: 10px;
    border: none;
    border-radius: 9%;
}
.button-up i
{
    font-size: 400%;
    color: #00abf0;
}
.card-container {
    align-self: flex-start;
    width: 100%;
    max-width: 300px;
    margin: 2em auto;
    background-color: var(--var-card-dark);
    border-radius: 15px;
    padding: 2rem 2rem 1rem 2rem;

}

div.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.coin-base, .time-left, .card-attribute {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.card-attribute {
    padding-bottom: 1.5em;
    border-top: 2px solid var(--var-line-dark);
}

a.hero-image-container {
    position: relative;
    display: block;
}



/* Details */

img.eye {
    position: absolute;
    width: 100%;
    max-width: 2em;
    top: 44%;
    left: 43%;
}

@media (min-width:400px) {
    img.eye {
        max-width: 3em;
    }
}

.hero-image-container::after {
    content: '';
    background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-color: hsla(178, 100%, 50%, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.hero-image-container:hover::after {
    opacity: 1;
}

.small-image {
    width: 1.2em;
    margin-right: .5em;
}

.small-avatar {
    width: 2em;
    border-radius: 200px;
    outline: 2px solid white;
    margin-right: 1.4em;
}

div.attribution {
    margin: 0 auto;
    width: 100%;
    font: var(--var-para);
    text-align: center;
    padding: 1.5em 0 4em 0;
    color: var(--var-line-dark);
}
.attribution a {
    color: var(--var-soft-blue);
}

@media (min-width:600px) {
    body {
        font-size: 14px;
    }
}
img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

.card-container a {
    color: inherit;
}
.card-container h1 {
    font: var(--var-heading);
    color: var(--var-lightest);
    padding: 1.2em 0;
}

.card-container h2 {
    font: var(--var-small-heading);
    color: var(--var-lightest);
    /* padding on .coin-base */
}

.card-container p {
    font: var(--var-para);
    color: var(--var-soft-blue);
}

.card-container span {
    color: white;
}
.accueil-title{

    background: #001a28 ;
    text-align: center;
    max-width: 600px;
}
.accueil-centre
{
    display: flex;
    justify-content: center;
}
.accueil-title h1
{
    font-size: 25px;
    text-decoration: underline;
}
.accueil-title p
{
    font-size: 15px;
}
hr
{
    border: white solid 2px;
}