@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root
{
    --clr-dark: #001a28;
    --clr-light: #f1f5f9;
}

::-webkit-scrollbar
{
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    background:  #013c5e;
    border-radius: 50px;
    border: 2px solid black;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
@media screen and (max-width: 615px)
{
    
    .accueil2
    {
        margin-top: 40%;
    }
    .accueil3
    {
        margin-top: 60%;
        text-align: center;
    }
    .header img
    {
        display: none;
    }
    .navbar
    {
        background-color: rgb(3, 22, 73);
       justify-content: space-around;
       padding-left: 15px;
       display: none;
    }
    .navbar a::before{
        display: none;
    }
    .header
    {
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        
    }
    .groupe-boite
    {  
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin-top: 5%;
    }
    .boite
    {
        padding-top: 30px;
    }
    .branches
    {
        padding-top: 50px !important;
    }
    .button-up
    {
        
    }
    .navbar a 
    {
        font-size: 17px;
        
    }
    #myNavbar {
        display: none;
    }
    .dropdown ul {display: none;}
    .dropdown li 
    {
        float: left;
    }
    a.icon {
      float: left;
      display: block;
      padding-left: 5px;
    }
    .icon {
        position: absolute;
        align-items: center;
        font-size: 200%;
        left: 0;
        color: white;
      }
    
}
.dark-mode
{
    --clr-light: #001a28;
    --clr-dark: #f1f5f9;
}
body
{
    background: var(--clr-dark);
    overflow: overlay;
}
.header
{
    background-color: rgb(3, 22, 73);
    position: fixed;
    padding: 20px 2%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    z-index: 2;
}
.header .logo img
{
    height: 100px;
    align-items: center;
    margin-top: 10px;
}
.navbar
{
    display: flex;
}
a.icon
{
    display: none;
}
.navbar a
{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-left: 25px;
    list-style: none;
}
.navbar a:hover
{
    color: rgb(234, 164, 0);
    transition: 0.5s;
    
}
.navbar a::before
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    transition: 0.5s;
    transform: scaleX(0);
    border-radius: 25px;
    background: #4070f4;
}
.navbar a:hover::before
{
    transform: scaleX(1);
}
nav .active
{
    color: #00abf0 !important;
}

.dropdown, .dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.dropdown {
    text-align: center;
}
.dropdown li {
    display: inline-block;
}
.dropdown ul li {
    display: inherit;
}
.dropdown a {
    text-decoration: none;
    display: block;
}
.dropdown ul {
    position: absolute;
    padding: 25px 20px 15px 0px;
    left: -999em;
    text-align: left;
    z-index: 1;
    background: rgb(3, 22, 75);
    border-radius: 10px;
}
.dropdown li:hover ul {
    left: auto;
}
.accueil
{
    display: flex;
    align-items: center;
    padding: 0 5%;
    height: 100vh;
    color: white;
    /*background: url('../images/perso.jpg') no-repeat;*/
    background: transparent;
    background-size: cover;
    background-position: center;

}
.accueil-tout
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accueil-tout img
{
    height: 50%;
    width: 50%;
}
.accueil-content
{
    max-width: 640px;
    
}
.accueil-content h1
{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    
}
.accueil-content h3
{
    font-size: 32px;
    font-weight: 700;
    color: #0379bd;
}
.accueil-content p
{
    font-size: 16px;
    margin: 20px 0 40px;
}
.accueil2
{
    display: flex;
    padding: 0 5%;
    height: 100vh;
    color: white;
    /*background: url('../images/perso.jpg') no-repeat;*/
    background: transparent;
    background-size: cover;
    background-position: center;
}
.accueil-content2
{
    max-width: 640px;
    padding-top: 40px;
}
.accueil-content2 h1
{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.accueil-content2 h3
{
    font-size: 32px;
    font-weight: 700;
    color: #0379bd;
}
.accueil-content2 p
{
    font-size: 16px;
    margin: 20px 0 40px;
}